In [ ]:
import pandas as pd
import unicodedata

## Procesamiento

In [105]:
dataset_juegos = pd.read_csv('./databases/bgg_database.csv')
dataset_peliculas = pd.read_csv('./databases/IMDB-Movie-Data.csv')
dataset_libros = pd.read_csv('./databases/libros_bd.csv')

In [106]:
dataset_juegos.isnull().sum()

rank                0
game_name           0
game_href           0
geek_rating         0
avg_rating          0
num_voters          0
description         0
yearpublished       0
minplayers          0
maxplayers          0
minplaytime         0
maxplaytime         0
minage              0
avgweight           0
best_num_players    0
designers           0
mechanics           0
categories          0
dtype: int64

In [107]:
dataset_juegos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rank              1000 non-null   int64
 1   game_name         1000 non-null   object
 2   game_href         1000 non-null   object
 3   geek_rating       1000 non-null   float64
 4   avg_rating        1000 non-null   float64
 5   num_voters        1000 non-null   float64
 6   description       1000 non-null   object
 7   yearpublished     1000 non-null   int64
 8   minplayers        1000 non-null   int64
 9   maxplayers        1000 non-null   int64
 10  minplaytime       1000 non-null   int64
 11  maxplaytime       1000 non-null   int64
 12  minage            1000 non-null   int64
 13  avgweight         1000 non-null   float64
 14  best_num_players  1000 non-null   object
 15  designers         1000 non-null   object
 16  mechanics         1000 non-null   object
 17  categories        1000 non-null   object
dtypes: float64(4), int64(7), object(7)
memory usage: 140.8+ KB

In [108]:
dataset_juegos.head()

,rank,game_name,game_href,geek_rating,avg_rating,num_voters,description,yearpublished,minplayers,maxplayers,minplaytime,maxplaytime,minage,avgweight,best_num_players,designers,mechanics,categories
0,1,Brass: Birmingham,https://boardgamegeek.com/boardgame/224517/bra...,8.415,8.60,46836.0,Brass: Birmingham is an economic strategy game...,2018,2,4,60,120,14,3.8776,"[{'min': 3, 'max': 4}]","['Gavan Brown', 'Matt Tolman', 'Martin Wallace']","['Hand Management', 'Income', 'Loans', 'Market...","['Age of Reason', 'Economic', 'Industry / Manu..."
1,2,Pandemic Legacy: Season 1,https://boardgamegeek.com/boardgame/161936/pan...,8.377,8.53,53807.0,Pandemic Legacy is a co-operative campaign gam...,2015,2,4,60,60,13,2.8308,"[{'min': 4, 'max': 4}]","['Rob Daviau', 'Matt Leacock']","['Action Points', 'Cooperative Game', 'Hand Ma...","['Environmental', 'Medical']"
2,3,Gloomhaven,https://boardgamegeek.com/boardgame/174430/glo...,8.349,8.59,62592.0,Gloomhaven is a game of Euro-inspired tactica...,2017,1,4,60,120,14,3.9132,"[{'min': 3, 'max': 3}]",['Isaac Childres'],"['Action Queue', 'Action Retrieval', 'Campaign...","['Adventure', 'Exploration', 'Fantasy', 'Fight..."
3,4,Ark Nova,https://boardgamegeek.com/boardgame/342942/ark...,8.335,8.54,44728.0,"In Ark Nova, you will plan and design a modern...",2021,1,4,90,150,14,3.7653,"[{'min': 2, 'max': 2}]",['Mathias Wigge'],"['Action Queue', 'End Game Bonuses', 'Grid Cov...","['Animals', 'Economic', 'Environmental']"
4,5,Twilight Imperium: Fourth Edition,https://boardgamegeek.com/boardgame/233078/twi...,8.240,8.60,24148.0,Twilight Imperium (Fourth Edition) is a game o...,2017,3,6,240,480,14,4.3173,"[{'min': 6, 'max': 6}]","['Dane Beltrami', 'Corey Konieczka', 'Christia...","['Action Drafting', 'Area-Impulse', 'Dice Roll...","['Civilization', 'Economic', 'Exploration', 'N..."

In [109]:
print(dataset_juegos.description[0])
dataset_juegos['description'] = dataset_juegos['description'].apply(lambda descripcion: descripcion.replace('\n', ' '))
print(dataset_juegos.description[0])

Brass: Birmingham is an economic strategy game sequel to Martin Wallace' 2007 masterpiece, Brass. Brass: Birmingham tells the story of competing entrepreneurs in Birmingham during the industrial revolution, between the years of 1770-1870.

It offers a very different story arc and experience from its predecessor. As in its predecessor, you must develop, build, and establish your industries and network, in an effort to exploit low or high market demands. The game is played over two halves: the canal era (years 1770-1830) and the rail era (years 1830-1870). To win the game, score the most VPs. VPs are counted at the end of each half for the canals, rails and established (flipped) industry tiles.

Each round, players take turns according to the turn order track, receiving two actions to perform any of the following actions (found in the original game):

1) Build - Pay required resources and place an industry tile.
2) Network - Add a rail / canal link, expanding your network.
3) Develop - Increase the VP value of an industry.
4) Sell - Sell your cotton, manufactured goods and pottery.
5) Loan - Take a &pound;30 loan and reduce your income.

Brass: Birmingham also features a new sixth action:

6) Scout - Discard three cards and take a wild location and wild industry card. (This action replaces Double Action Build in original Brass.)


Brass: Birmingham is an economic strategy game sequel to Martin Wallace' 2007 masterpiece, Brass. Brass: Birmingham tells the story of competing entrepreneurs in Birmingham during the industrial revolution, between the years of 1770-1870.  It offers a very different story arc and experience from its predecessor. As in its predecessor, you must develop, build, and establish your industries and network, in an effort to exploit low or high market demands. The game is played over two halves: the canal era (years 1770-1830) and the rail era (years 1830-1870). To win the game, score the most VPs. VPs are counted at the end of each half for the canals, rails and established (flipped) industry tiles.  Each round, players take turns according to the turn order track, receiving two actions to perform any of the following actions (found in the original game):  1) Build - Pay required resources and place an industry tile. 2) Network - Add a rail / canal link, expanding your network. 3) Develop - Increase the VP value of an industry. 4) Sell - Sell your cotton, manufactured goods and pottery. 5) Loan - Take a &pound;30 loan and reduce your income.  Brass: Birmingham also features a new sixth action:  6) Scout - Discard three cards and take a wild location and wild industry card. (This action replaces Double Action Build in original Brass.)

In [110]:
print(dataset_juegos.categories[120])
dataset_juegos['categories'] = dataset_juegos['categories'].apply(lambda categorie: categorie.replace("'", '').replace('[', '').replace(']', '').lower().split(','))

['Card Game', 'Economic', 'Renaissance']

In [111]:
dataset_juegos.categories[120]

['card game', ' economic', ' renaissance']

In [112]:
print(dataset_juegos.designers[120])
dataset_juegos['designers'] = dataset_juegos['designers'].apply(lambda categorie: categorie.replace("'", '').replace('[', '').replace(']', '').lower().split(','))
print(dataset_juegos.designers[120])

['Marc André', 'Bruno Cathala']
['marc andré', ' bruno cathala']

In [113]:
dataset_juegos_procesados = pd.DataFrame({
    'title': dataset_juegos['game_name'],
    'description': dataset_juegos.apply(
        lambda row: f"Title: {row['game_name']}, description: {row['description']}", axis=1),
    'directors': dataset_juegos['designers'],
    'categories': dataset_juegos['categories'],
    'year': dataset_juegos['yearpublished'],
    'minplayers':dataset_juegos['minplayers'],
    'maxplayers':dataset_juegos['maxplayers']
})
dataset_juegos_procesados.head()

,title,description,directors,categories,year,minplayers,maxplayers
0,Brass: Birmingham,"Title: Brass: Birmingham, description: Brass: ...","[gavan brown, matt tolman, martin wallace]","[age of reason, economic, industry / manufac...",2018,2,4
1,Pandemic Legacy: Season 1,"Title: Pandemic Legacy: Season 1, description:...","[rob daviau, matt leacock]","[environmental, medical]",2015,2,4
2,Gloomhaven,"Title: Gloomhaven, description: Gloomhaven is...",[isaac childres],"[adventure, exploration, fantasy, fighting,...",2017,1,4
3,Ark Nova,"Title: Ark Nova, description: In Ark Nova, you...",[mathias wigge],"[animals, economic, environmental]",2021,1,4
4,Twilight Imperium: Fourth Edition,"Title: Twilight Imperium: Fourth Edition, desc...","[dane beltrami, corey konieczka, christian t...","[civilization, economic, exploration, negot...",2017,3,6

In [114]:
dataset_peliculas.isnull().sum()

Rank                  0
Title                 0
Genre                 0
Description           0
Director              0
Actors                0
Year                  0
Runtime (Minutes)     0
Rating                0
Votes                 0
Revenue (Millions)    0
Metascore             0
dtype: int64

In [115]:
dataset_peliculas.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40

In [116]:
print(dataset_peliculas.Genre[0])
dataset_peliculas['Genre'] = dataset_peliculas['Genre'].apply(lambda categorie: categorie.replace("'", '').replace('[', '').replace(']', '').lower().split(','))
print(dataset_peliculas.Genre[0])

Action,Adventure,Sci-Fi
['action', 'adventure', 'sci-fi']

In [117]:
print(dataset_peliculas.Actors[0])
dataset_peliculas['Actors'] = dataset_peliculas['Actors'].apply(lambda categorie: categorie.replace("'", '').replace('[', '').replace(']', '').lower().split(','))
print(dataset_peliculas.Actors[0])

Chris Pratt, Vin Diesel, Bradley Cooper, Zoe Saldana
['chris pratt', ' vin diesel', ' bradley cooper', ' zoe saldana']

In [118]:
dataset_peliculas.Description[670]

'The savage murders of three young children sparks a controversial trial of three teenagers accused of killing the kids as part of a satanic ritual.'

In [119]:
dataset_peliculas_procesados = pd.DataFrame({
    'title': dataset_peliculas['Title'],
    'description': dataset_peliculas.apply(
        lambda row: f"title: {row['Title']} ,Description: {row['Description']}", axis=1),
    'director': dataset_peliculas['Director'],
    'year': dataset_peliculas['Year'],
    'actors': dataset_peliculas['Actors'],
    'categories': dataset_peliculas['Genre']
    
})
dataset_peliculas_procesados.head()

,title,description,director,year,actors,categories
0,Guardians of the Galaxy,"title: Guardians of the Galaxy ,Description: A...",James Gunn,2014,"[chris pratt, vin diesel, bradley cooper, z...","[action, adventure, sci-fi]"
1,Prometheus,"title: Prometheus ,Description: Following clue...",Ridley Scott,2012,"[noomi rapace, logan marshall-green, michael...","[adventure, mystery, sci-fi]"
2,Split,"title: Split ,Description: Three girls are kid...",M. Night Shyamalan,2016,"[james mcavoy, anya taylor-joy, haley lu ric...","[horror, thriller]"
3,Sing,"title: Sing ,Description: In a city of humanoi...",Christophe Lourdelet,2016,"[matthew mcconaughey, reese witherspoon, seth...","[animation, comedy, family]"
4,Suicide Squad,"title: Suicide Squad ,Description: A secret go...",David Ayer,2016,"[will smith, jared leto, margot robbie, vio...","[action, adventure, fantasy]"

In [120]:
dataset_libros

,Title,Genre,Description,Author
0,Frankenstein Or The Modern Prometheus,"['', 'science', 'fiction', 'horror', 'tales', ...","""Frankenstein Or, The Modern Prometheus"" by Ma...",Shelley Mary Wollstonecraft 1797-1851
1,Pride and Prejudice,"['', 'england', 'fiction', 'young', 'women', '...","""Pride and Prejudice"" by Jane Austen is a clas...",Austen Jane 1775-1817
2,Romeo and Juliet,"['', 'vendetta', 'drama', 'youth', 'drama', 'v...","""Romeo and Juliet"" by William Shakespeare is a...",Shakespeare William 1564-1616
3,Moby Dick Or The Whale,"['', 'whaling', 'fiction', 'sea', 'stories', '...","""Moby Dick Or, The Whale"" by Herman Melville i...",Melville Herman 1819-1891
4,The Scarlet Letter,"['', 'adultery', 'fiction', 'historical', 'fic...","""The Scarlet Letter"" by Nathaniel Hawthorne is...",Hawthorne Nathaniel 1804-1864
...,...,...,...,...
995,Fables of La Fontaine — a New Edition with Notes,"['', 'fables,', 'french', 'translations', 'int...","""The Fables of La Fontaine"" by Jean de La Font...",La Fontaine Jean de 1621-1695
996,She,"['', 'africa', 'fiction', 'fantasy', 'fiction'...","""She"" by H. Rider Haggard is a novel written i...",Haggard H. Rider (Henry Rider) 1856-1925
997,Submerged forests,"['', 'submerged', 'forests', '']","""Submerged Forests"" by Clement Reid is a scien...",Reid Clement 1853-1916
998,Rilla of Ingleside,"['', 'world', 'war,', '1914-1918', 'prince', '...","""Rilla of Ingleside"" by L. M. Montgomery is a ...",Montgomery L. M. (Lucy Maud) 1874-1942
999,Slave Narratives: A Folk History of Slavery in...,"['', 'enslaved', 'persons', 'north', 'carolina...","""Slave Narratives: A Folk History of Slavery i...",United States. Work Projects Administration

In [121]:
dataset_libros.isnull().sum()

Title           0
Genre           0
Description    87
Author         63
dtype: int64

In [122]:
#Elimino los libros que no tienen descripcion ya que no se puede determinar su tematica
dataset_libros = dataset_libros.dropna()

In [123]:
dataset_libros['Author'] =  dataset_libros['Author'].apply(lambda categorie: categorie.lower())

C:\Users\Usuario\AppData\Local\Temp\ipykernel_6092\1838615299.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset_libros['Author'] =  dataset_libros['Author'].apply(lambda categorie: categorie.lower())

In [124]:
dataset_libros_procesados = pd.DataFrame({
    'title': dataset_libros['Title'],
    'description': dataset_libros.apply(
        lambda row: f"description: {row['Description']}", axis=1),
    'director': dataset_libros['Author'],
    'categories': dataset_libros['Genre']
})
dataset_libros_procesados.head()

,title,description,director,categories
0,Frankenstein Or The Modern Prometheus,"description: ""Frankenstein Or, The Modern Prom...",shelley mary wollstonecraft 1797-1851,"['', 'science', 'fiction', 'horror', 'tales', ..."
1,Pride and Prejudice,"description: ""Pride and Prejudice"" by Jane Aus...",austen jane 1775-1817,"['', 'england', 'fiction', 'young', 'women', '..."
2,Romeo and Juliet,"description: ""Romeo and Juliet"" by William Sha...",shakespeare william 1564-1616,"['', 'vendetta', 'drama', 'youth', 'drama', 'v..."
3,Moby Dick Or The Whale,"description: ""Moby Dick Or, The Whale"" by Herm...",melville herman 1819-1891,"['', 'whaling', 'fiction', 'sea', 'stories', '..."
4,The Scarlet Letter,"description: ""The Scarlet Letter"" by Nathaniel...",hawthorne nathaniel 1804-1864,"['', 'adultery', 'fiction', 'historical', 'fic..."

In [125]:
dataset_juegos_procesados.to_csv('./databases/juegos_procesados.csv', index=False)
dataset_peliculas_procesados.to_csv('./databases/peliculas_procesados.csv', index=False)
dataset_libros_procesados.to_csv('./databases/libros_procesados.csv', index=False)

In [126]:
datos_melancolia = [
(0,'Me siento un poco nostálgico hoy.'),
(0,'Todo parece tan gris, como si algo faltara.'),
(0,'No tengo ganas de hacer nada, estoy algo decaído.'),
(0,'Echo de menos esos tiempos felices que ya no volverán.'),
(0,'Me invade una sensación de tristeza, sin motivo aparente.'),
(0,'Hoy fue el peor dia, un dia de mierda'),
(0,'Me siento un poco perdido hoy, como si algo faltara, siento melancolia.'),
(0,'Es uno de esos días donde la tristeza aparece sin razón.'),
(0,'No encuentro motivación para hacer nada, me siento , como si fuera a perder algo.'),
(0,'Mi mente está llena de recuerdos tristes.'),
(0,'Siento que estoy atrapado en un ciclo de nostalgia.'),
(0,'Me invade una tristeza que no puedo explicar.'),
(0,'Hoy siento un vacío en el pecho, sin saber por qué, debe ser melancolia.'),
(0,'El día está apagado, como mi estado de ánimo.'),
(0,'No logro deshacerme de este sentimiento de pesadumbre, melancolico.'),
(0,'No encuentro consuelo en nada, todo parece sombrío.'),
(0,'Estoy decaído, es un dia gris'),
(0,'Mis pensamientos están envueltos en una bruma de tristeza.'),
(0,'Hoy siento un peso en el corazón que no puedo soltar.'),
(0,'Todo parece distante, como si estuviera desconectado.'),
(0,'Mi alma está llena de añoranza por lo que no tengo.'),
(0,'Siento que nada me anima, estoy sumido en una profunda melancolía.'),
(0,'Mis pensamientos están pesados, todo parece sombrío, estoy muy perdido.'),
(0,'Me siento atrapado en un estado de tristeza continua.'),
(0,'La vida parece haber perdido su color hoy.'),
(0,'terrible dia la pase mal'),
(0,'Estoy triste, me siento gris'),
(0,'Todo para atras, no paro de perder'),
(0,'Agoviado, con mucha tristeza'),
(0,'Me siento nostalgico'),
(0,'Quiero llorar,estoy muy triste'),
(0,'El peor dia'),
(0, 'Me siento un poco nostálgico hoy, melancolico.'),
(0, 'Me siento atrapado en pensamientos del pasado, sin poder avanzar.'),
(0, 'Hoy siento que los recuerdos pesan más que de costumbre.'),
(0, 'Hoy siento una tristeza suave que no puedo explicar.'),
(0, 'Mi día fue una sucesión de momentos vacíos que no dejaron huella.'),
(0, 'Hoy fue uno de esos días en los que todo parece distante y ajeno.'),
(0, 'El día de hoy fue un recordatorio de lo que ya no está conmigo.'),
(0,'El peor dia de mi vida, fue terrible el dia de hoy'),
(0, 'Hoy fue un día en el que los pensamientos del pasado no me dejaron en paz.'),
(0, 'Me siento envuelto en una melancolía que no logro sacudirme.'),
(0, 'Me siento como si estuviera caminando por un camino que ya recorrí antes, pero ahora está vacío.'),
(0, 'Hoy siento que el tiempo pasa, pero yo me quedo en el mismo lugar, melancolico.'),
(0, 'Mi día fue un conjunto de silencios y suspiros.'),
(0, 'Hoy fue uno de esos días en los que todo parece perder sentido.'),
(0, 'El día de hoy fue tan gris como el cielo que lo acompañó.'),
(0, 'Hoy siento que las pequeñas alegrías del pasado se desvanecen cada vez más.'),
(0, 'Me siento como si estuviera mirando el mundo a través de una ventana cerrada, me siento perdido.'),
(0, 'Hoy siento que lo que más extraño no es algo, sino alguien que ya no está.'),
(0, 'Mi día fue una constante lucha contra la sensación de vacío.'),
(0, 'El día de hoy fue como un eco lejano de tiempos mejores.'),
(0, 'Hoy fue un día en el que los recuerdos felices me hicieron sentir solo.'),
(0,'Estoy harto hoy fue un dia de mierda'),
(0,'terrible el dia de hoy'),
]

datos_nifunifa = [
(1,'Estoy tranquilo, sin nada que me afecte.'),
(1,'No siento nada por lo que está pasando, todo es normal.'),
(1,'Hoy no hay mucho que contar.'),
(1,'Estoy en piloto automático.'),
(1,'Estoy en un estado neutro ni bien ni mal.'),
(1,'El día ha pasado sin grandes eventos.'),
(1,'No sé, simplemente me siento neutral, ni fu ni fa.'),
(1,'simplemente estoy igual que siempre.'),
(1,'Todo está igual que siempre.'),
(1,'Hoy ha sido un día sin altibajos, simplemente normal.'),
(1,'Nada me molesta, pero tampoco nada me entusiasma.'),
(1,'Estoy en un punto medio, no hay mucho que decir sobre cómo me siento.'),
(1,'Hoy ha sido un día igual que los demás, ni fu ni fa.'),
(1,'No tengo ningún sentimiento en particular.'),
(1,'Me siento bastante indiferente hacia lo que pasa.'),
(1,'Estoy neutral,Todo sigue igual, ni bien ni mal.'),
(1,'Me encuentro en un estado de tranquilidad sin mucha emoción.'),
(1,'No siento mucho entusiasmo ni desgano, solo estoy.'),
(1,'Nada me preocupa hoy, pero tampoco estoy emocionado por nada.'),
(1,'Estoy neutral,El día es simplemente uno más, sin sorpresas.'),
(1,'Estoy en un estado neutro, ni fu ni fa.'),
(1,'Hoy fue un día más, nada especial.'),
(1,'No siento ni mucha emoción ni tristeza, todo está normal.'),
(1,'Estoy neutral, no me afecta demasiado lo que sucede.'),
(1,'Es solo otro día como cualquier otro, sin nada destacable.'),
(1,'Me siento bastante indiferente, ni bien ni mal.'),
(1,'No tengo ganas de hacer nada'),
(1,'Lo mismo de siempre'),
(1,'como mismo de siempre'),
(1,'No quiero hacer nada hoy'),
(1, 'Me siento igual que cualquier otro día, sin mucho que destacar.'),
(1, 'Hoy siento que todo pasó sin mayor emoción, solo otro día más.'),
(1, 'Mi día fue bastante normal, sin nada fuera de lo común.'),
(1, 'Hoy fue uno de esos días en los que no pasó nada interesante.'),
(1,'Me siente neutro no me importa nada.'),
(1, 'El día de hoy fue completamente ordinario, sin altos ni bajos.'),
(1, 'Me siento como si el día simplemente hubiera pasado, sin dejar nada detrás.'),
(1, 'Hoy siento que fue solo otro día más, ni bueno ni malo.'),
(1, 'Mi día fue rutinario, sin nada que realmente me moviera.'),
(1, 'Hoy fue un día como cualquier otro, sin nada especial que recordar.'),
(1, 'El día de hoy fue exactamente como ayer, sin sorpresas ni emociones.'),
(1, 'Me siento neutral, nada fuera de lo común hoy.'),
(1, 'Hoy siento que fue un día cualquiera, sin nada que destacar.'),
(1, 'Mi día fue una sucesión de tareas normales, nada emocionante.'),
(1, 'Hoy fue uno de esos días que simplemente pasan, sin dejar huella.'),
(1, 'El día de hoy fue un día más en la rutina, sin altibajos.'),
(1, 'Me siento como si el día hubiera pasado desapercibido, sin nada memorable.'),
(1, 'Hoy siento que no hubo nada que realmente me impactara, un día más.'),
(1, 'Mi día fue como cualquier otro, sin nada que destacar.'),
(1, 'El día de hoy fue una jornada tranquila, ni buena ni mala.'),
(1, 'Hoy fue un día bastante plano, sin nada que me haya movido emocionalmente.')
]
datos_alegria = [
(2,'Hoy es un día espectacular, ¡me siento increíble!'),
(2,'Estoy muy emocionado por todo lo que está pasando.'),
(2,'Solo me pasan cosas buenas ultimamente.'),
(2,'Hoy quiero hacer algo divertido y pasarla bien'),
(2,'¡Qué felicidad! Todo está saliendo a la perfección.'),
(2,'No puedo dejar de sonreír, ¡estoy tan contento!'),
(2,'Me siento lleno de energía y entusiasmo.'),
(2,'Estoy tan contento que podría volar.'),
(2,'Todo me sale bien hoy, ¡qué alegría!'),
(2,'Me siento afortunado de tener un día tan bueno.'),
(2,'¡Es un gran día! Me siento lleno de vida.'),
(2,'Qué buen humor tengo, nada me molesta, espero divertirme.'),
(2,'Me siento entusiasmado por todo lo que está por venir.'),
(2,'¡Todo es perfecto hoy!'),
(2,'Me levante de buen humor y todo sigue igual de bien.'),
(2,'Estoy lleno de optimismo y energía.'),
(2,'Hoy todo me hace sonreír.'),
(2,'¡Qué bien se siente cuando todo sale como quieres!'),
(2,'Siento una felicidad indescriptible.'),
(2,'Me encanta cómo está saliendo el día, es un exito total.'),
(2,'¡me siento increíble!'),
(2,'Hoy estoy disfrutando cada momento.'),
(2,'¡Todo es tan positivo hoy!, este dia es un exito total'),
(2, 'Me diverti mucho hoy estubo genial.'),
(2,'Me siento afortunado de tener un día tan bueno.'),
(2,'¡Qué bien se siente estar tan alegre!'),
(2,'Todo está yendo a la perfección, ¡me siento fenomenal!'),
(2,'Estoy muy contento.'),
(2,'Quiero hacer algo divertido el día de hoy.'),
(2,'Me siento muy afortunado.'),
(2,'Solo me pasan cosas buenas.'),
(2,'Hoy fue un hermoso día.'),
(2,'Estoy muy agradecido por todo me pasa.'),
(2, 'Me siento lleno de energía y optimismo hoy.'),
(2, 'Hoy siento que todo salió de maravilla, no podría estar más contento.'),
(2, 'Todo cool, todo genial.'),
(2, 'Mi día fue increíble, lleno de buenos momentos y sonrisas.'),
(2, 'Hoy fue uno de esos días en los que todo parece brillar un poco más.'),
(2, 'El día de hoy fue espectacular, cada pequeña cosa me llenó de felicidad.'),
(2, 'Me siento feliz, como si todo estuviera en su lugar.'),
(2,'hoy me pasaron cosas buenas, estoy muy contento.'),
(2, 'Hoy siento que el mundo está lleno de posibilidades y sonrisas.'),
(2, 'Mi día fue perfecto, lleno de sorpresas agradables y risas.'),
(2, 'Hoy fue un día lleno de luz y alegría, nada podría haberlo arruinado.'),
(2, 'El día de hoy fue increíble, cada momento fue mejor que el anterior.'),
(2, 'Me siento realmente feliz, como si nada pudiera salir mal hoy.'),
(2, 'Hoy siento una alegría que no puedo explicar, todo ha sido maravilloso.'),
(2, 'Mi día fue estupendo, lleno de momentos que me hicieron sonreír.'),
(2, 'Hoy fue uno de esos días en los que todo sale bien, desde el principio hasta el final.'),
(2, 'El día de hoy fue un éxito total, fue muy divertido'),
(2, 'Me siento agradecido por este día tan bueno, ha sido perfecto.'),
(2,'Con ansias de hacer algo divertido.'),
(2, 'Hoy siento que todo es posible, ha sido un día lleno de alegría.'),
(2, 'Mi día fue fantástico, lleno de momentos felices y encuentros agradables.'),
(2, 'El día de hoy fue maravilloso, no paré de sonreír en todo momento.'),
(2, 'Hoy fue un día lleno de alegría y felicidad, lo recordaré siempre.'),
(2, 'Todo cool, hoy fue un dia genial.'),
(2, 'Genial hoy fue un dia muy cool.'),
]

def procesar_lista(lista):
    nueva_lista = []
    for numero, string in lista:
        string = string.replace('!', '').replace('¡', '').lower()
        # Quitar acentos
        string = unicodedata.normalize('NFKD', string).encode('ascii', 'ignore').decode('utf-8')
        nueva_lista.append((numero,string))
    return nueva_lista
datos_melancolia = procesar_lista(datos_melancolia)
datos_nifunifa = procesar_lista(datos_nifunifa)
datos_alegria = procesar_lista(datos_alegria)

In [127]:
datos_sentimientos = datos_melancolia + datos_nifunifa +datos_alegria
sentimientos = pd.DataFrame(datos_sentimientos, columns=['clase', 'frase'])
sentimientos.to_csv('./databases/sentimientos.csv', index=False)